.header {
  margin-left: 0;
  margin-top: 0;
  padding: 0px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}body{
	font-size: 20;
	color: white;
	background-color: grey;
}a{
	font-size: 25;
	color: aliceblue;
}p{
	font-size: 24;
	color: white;
}#button{
	background-color: darkblue;
	color: white;
	padding: 1em 1.5em;
	text-decoration: none;
	text-transform: uppercase;
}